html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 1170px;
    margin: 0 auto;
}
